.container {
  margin-top: 50px;
  background: #c9ffbf;
  background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
  background: linear-gradient(to right, #ffafbd, #c9ffbf);
  padding: 40px;
}

.adminContainer {
  padding: 20px;
}
